@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  color: #303030;
  font-family: "Lato", "sans-serif";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 4rem 0;
}

.btn {
  padding: 8px 16px;
  min-width: 100px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0.75rem;
  transition: all 0.3s linear;
}

.btn:disabled {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 4rem 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
